<!DOCTYPE html>

<% if (pages) { %>
<div class="divider" style="margin-top:48px"></div>
<div id="pagination" class="hContainer">
	
	<a class="btn icon pageArrow" <% if (page > 1) { %> href="<%= url.replace("p=" + String(page), "p=" + String(page - 1)) %>" <% } else { %> style="opacity: 0;" <% } %>></a>

	<a class="btn" <% if (pageArray[0] > 1) { %> href="<%= url.replace("p=" + String(page), "p=1") %>" <% } else { %> style="opacity: 0;" <% } %>>. . .</a>

	<% try {for (i = 0; i < pageArray.length; i++) { %>
	<a class="btn<% if (pageArray[i] == page) { %> active<% } %>" <% if (pageArray[i] != page) { %>href="<%= url.replace("p=" + String(page), "p=" + pageArray[i]) %>"<% } %>><%= pageArray[i] %></a>
	<% }} catch (err) {} %>

	<a class="btn" <% if (pageArray[pageArray.length - 1] < pageCount) { %> href="<%= url.replace("p=" + String(page), "p=" + String(pageCount)) %>" <% } else { %> style="opacity: 0;" <% } %>>. . .</a>
	
	<a class="btn icon pageArrow hFlip" <% if (page < pageCount) { %> href="<%= url.replace("p=" + String(page), "p=" + String(page + 1)) %>" <% } else { %> style="opacity: 0;" <% } %>></a>
</div>
<% } %>