<!DOCTYPE html>

<% videos.forEach(function(element, index) { %>
<div class="item" data-id = "<%= element._id %>">
	<div class="frame" onclick="toggleModal(this)" data-temp = "<%= JSON.stringify(element) %>">
		<img src="<%= element.videoid + "/thumbnail.jpg" %>">
		<div class="infoOverlay hContainer">
			<% if (element.views.length > 0) { %>
			<div class="icon" style="background-image: url('assets/icons/watchedIcon.png');"></div>
			<% } if (element.watchlater != undefined) { %>
			<div class="icon" style="background-image: url('assets/icons/savedIconW.png');"></div>
			<% } %>
			<p style="margin-left: auto;"><%= element.resolution %></p>
			<p><%= element.length %></p>
		</div>
	</div>
	<p><%= element.featuring.join(", ") %></p>
</div>
<% }) %>



<script>
	$(document).ready(function() {
		$("#vidGallery .frame").each(function(i) {
			$(this).data("doc", $(this).data("temp"))
			$(this).removeAttr("data-temp")
		})
	})
</script>