<!DOCTYPE html>
<html lang="en">

<head>
<title>Rooks - <%= pageTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Insights homepage">

<link rel="icon" href="assets/icons/rooksIcon.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

	.headline {
		font-family: Montserrat Medium;
		font-variant: small-caps;
		font-size: 32px;
	}

	.caption {
		margin: 16px 0px;
	}

	.vContainer {
		gap: 16px;
	}

	.vContainer p, span {
		font-size: 20px;
	}

	.vContainer p {
		color: #989898;
	}

</style>

</head>

<body>

<%- include("partials/header") %>

<main>
	<p class="headline caption">Insights & Data</p>

	<div class="divider" style="margin-bottom:32px"></div>

	<div class="vContainer">
		<p class="">Collection Size&nbsp&nbsp&#183;&nbsp&nbsp<span><%= data.dataVideoSize %> bytes</span></p>
		<p class="">Video Count&nbsp&nbsp&#183;&nbsp&nbsp<span><%= data.dataVideoCount %></span></p>
		<p class="">Video Length&nbsp&nbsp&#183;&nbsp&nbsp<span><%= data.dataVideoLength %> Seconds</span></p>
		<p class="">Recorded Views&nbsp&nbsp&#183;&nbsp&nbsp<span><%= data.dataVideoViews %></span></p>
		<p class="">Story Mode Progress&nbsp&nbsp&#183;&nbsp&nbsp<span><%= ((data.dataVideoUniqueViews/data.dataVideoCount)*100).toFixed(2) %>% Completed</span></p>
	</div>
</main>

</body>

</html>